# Configuration of `ocamlformat`
# check `man ocamlformat` for configuration options
profile = default
# We want to be able to use linebreaks for test data - don't format those
break-string-literals = never
